# Visual Studio
.vs/
Proqrli/.vs/
bin/
obj/
*.user
*.suo

# ASP.NET publish/build
publish/

# Zips (IMPORTANT)
*.zip

# Frontend
Proqrli/frontend/node_modules/
Proqrli/frontend/dist/

# OS
.DS_Store
Thumbs.db